@using Heuristic.Linq
@using Heuristic.PathfindingLab.Models
@model MapSettings
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/css/site.min.css" />
    </environment>
}
<div class="row">
    <div class="col-lg-12">
        <div>@await Html.PartialAsync("_Map", Model)</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="margin-bottom: 8px">
        <form id="options" role="form" class="form-inline">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Start over" id="btnClear">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Undo the last pathfinding result" id="btnUndo">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Remove all obstacles" id="btnDelObstacles">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalInfo">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </div>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default btn-sm active" style="min-width: 10ch"><input type="radio" name="algorithm" value="@nameof(HeuristicSearch.AStar)" checked /><span>A*</span></label>
                <label class="btn btn-default btn-sm" style="min-width: 10ch" data-toggle="tooltip" title="Best-first Search"><input type="radio" name="algorithm" value="@nameof(HeuristicSearch.BestFirstSearch)" />BFS</label>
                <label class="btn btn-default btn-sm" style="min-width: 10ch" data-toggle="tooltip" title="Iterative Deepening A*"><input type="radio" name="algorithm" value="@nameof(HeuristicSearch.IterativeDeepeningAStar)" />IDA*</label>
                <label class="btn btn-default btn-sm" style="min-width: 10ch" data-toggle="tooltip" title="Recursive Best-first Search"><input type="radio" name="algorithm" value="@nameof(HeuristicSearch.RecursiveBestFirstSearch)" />RBFS</label>
            </div>
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-default btn-sm"><input type="checkbox" name="heuristic" value="@nameof(PointExtensions.GetChebyshevDistance)">Chebyshev</label>
                <label class="btn btn-default btn-sm"><input type="checkbox" name="heuristic" value="@nameof(PointExtensions.GetEuclideanDistance)">Euclidean</label>
                <label class="btn btn-default btn-sm active"><input type="checkbox" name="heuristic" value="@nameof(PointExtensions.GetManhattanDistance)" checked>Manhattan</label>
            </div>
            <a href="javascript:void();" role="button" class="btn btn-link" data-toggle="popover" data-trigger="focus" data-placement="right" data-container="body" data-content="A heuristic function is used to evaluate the cost of every step. For some of algorithms, at least one heuristic function needs to be selected. If more than one functions are selected, the subsequent one will be used when previous one evaluates two steps as equal.">
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>
            @if (Model.IsSmartDevice)
            {
                <button type="button" class="btn btn-primary btn-sm" data-toggle="button" id="btnFindPath">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            }
            <span>&nbsp;</span>
            @if (Model.IsSmartDevice)
            {
                <span id="description" class="small"></span>
            }
            else
            {
                <span id="description" class="small">Left click to place barriers, right click on two positions to get a path.</span>
            }
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div id="chart"></div>
    </div>
    <div class="col-lg-9">
        <label>LINQ Expression</label>
        <a href="javascript:void();" role="button" class="btn btn-link" data-toggle="popover" data-trigger="focus" data-placement="right" data-container="body" data-content="A code snippet using LINQ to A* to set conditions and fetch the path will be displayed here.">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
        <div class="btn-group" role="group" id="histories"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="max-width: 720px; margin-top: 10px">
            <li role="presentation" class="active"><a href="#exampleSelectMany" aria-controls="exampleSelectMany" role="tab" data-toggle="tab">SelectMany</a></li>
            <li role="presentation"><a href="#exampleExcept" aria-controls="exampleExcept" role="tab" data-toggle="tab">Except</a></li>
            <li role="presentation"><a href="#exampleWhere" aria-controls="exampleWhere" role="tab" data-toggle="tab">Where only</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="max-width: 720px">
            <div role="tabpanel" class="tab-pane active" id="exampleSelectMany">
                <pre><code class="cs">// Equivalent LINQ expression using SelectMany() will be shown here.





                                    </code></pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="exampleExcept">
                <pre><code class="cs">// Equivalent LINQ expression using Except() will be shown here.





                                    </code></pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="exampleWhere">
                <pre><code class="cs">// Equivalent LINQ expression using Where() clause will be shown here.





                                </code></pre>
            </div>
        </div>
        <small>Tip: you can change the map size by attaching <b>w</b> and <b>h</b> parameters to the query string. The default size is @(MapSettings.DefaultMapWidth)x@(MapSettings.DefaultMapHeight) and the minimum size is @(MapSettings.MinMapWidth)x@(MapSettings.MinMapHeight).</small>
    </div>
</div>
<!-- Modal -->
<div id="modalInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <p>Copyright © <a href="https://rvhuang.github.io/" target="_blank">Robert Vandenberg Huang</a></p>
                <p>Copyright © <a href="https://kenney.nl/" target="_blank">Kenney Vleugels</a> (assets)</p>
                <p>The project is licensed under the MIT license. Feel free to copy, modify and use in your computer science homework (grades not guaranteed).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="historyTemplate" style="display: none">
    <button type="button" class="btn btn-default btn-sm" data-toggle="button">
        <span data-field="PathColor" class="glyphicon glyphicon-stop"></span>
        <span data-field="AlgorithmShortName"></span>
        <span data-field="Path"></span>
    </button>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js" defer></script>
    <script>
        var mapSettings = @Json.Serialize(Model);
    </script>
    <environment include="Development">
        <script src="js/tile.js"></script>
        <script src="js/layer.js"></script>
        <script src="js/core.js"></script>
        <script src="js/site.js" defer></script>
    </environment>
    <environment exclude="Development">
        <script src="js/core.min.js" asp-append-version="true"></script>
        <script src="js/site.min.js" asp-append-version="true" defer></script>
    </environment>
    <script>hljs.initHighlightingOnLoad();</script>
}
